/* div{
    color: green;
}
.div1{
    color: red;
} */
/* h2{color: green;}
.my_h2{
    color: red;
    font-size: 10px;
}
#first{
    color:aqua
}
#second{
    color: darkblue;
}
a{
    text-decoration: none;
} */

/* .div1{
background-color: green;
width: 600px;
height: 600px;

}

.div2{
    background-color: darkblue;
width: 200px;
height: 200px;
}
.div3{
    background-color: aqua;
width: 100px;
height: 100px;
} */